@import 'reset.css';

:root{
    --font: 'Bellota Text', cursive;
    --font-but: 'Roboto', sans-serif;
    --size-parag: 17px;
    --size-header: 35px;
    --color-bg:#F3F2F1;
    --color-h:#4387C1;
    --color-p: #3D57A7;
    --color-text: #48a3f8;
}

*{
    scroll-behavior: smooth;
}


.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

.arrow_bg{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid #48a3f8;
    border-radius: 40px;
    bottom: 4%;
    right: 3%;
    background-color: unset;
    transition: 0.5s;
    animation: showBlock 0.5s linear forwards;
}

.arrow_ann{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    filter: brightness(1);
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.arrow_ann:hover{
    cursor: pointer;
    filter: brightness(10);
}

.arrow_bg:hover{
    border: 1px solid #48a3f8;
    background-color: #48a3f8;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.bg{
    background-image: url('../../img/bg.jpg');
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.grey{
    background-color: whitesmoke;
}

.see{
    display: none;
}

.promo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo_inf{
    width: 650px;
}
.promo_inf_too{
    width: 600px;
    margin-left: 50px;
}

.logo{
    width: 220px;
    margin-bottom: 45px;
}

.name_logo{
    font-size: 60px;
    font-family: var(--font);
    margin-bottom: 40px;
    line-height: 1.2;
}
.head_text{
    font-family: var(--font);
    font-size: 40px;
    margin-bottom: 20px; 
    line-height: 1.2;
}
.text{
    font-family: var(--font);
    font-size: 18px;
    margin-bottom: 20px; 
    line-height: 1.5;
}

.promo_inp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    color: white;
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    margin: 50px;
}

.but_bl{
    width: 120px;
    height: 60px;
    color: white;
    background-color: var(--color-text);
    border: 3px solid var(--color-text);
    border-radius: 40px;
    font-size: 18px;
    font-family: var(--font-but);
    transition: 1s;
    margin-right: 15px;
}
.but{
    width: 180px;
    height: 60px;
    color: var(--color-text);
    background-color: unset;
    border: 3px solid var(--color-text);
    border-radius: 40px;
    font-size: 18px;
    font-family: var(--font-but);
    padding-left: 30px;
    padding-right: 30px;
    transition: 1s;
}

#but_hidden{
    display: none;
    outline: none;
    border: none;
    height: 35px;
    transition: 0.5s;
}

.but_bl:hover{
    cursor: pointer;
    color: var(--color-text);
    background-color: unset;
    border: 3px solid var(--color-text);
}
.but:hover{
    cursor: pointer;
    color: white;
    background-color: var(--color-text);
    border: 3px solid var(--color-text);
}

.input_pr{
    width: 400px;
    height: 48px;
    margin: 10px;
    font-size: 18px;
}

.but_pr{
    color: white;
    background-color: var(--color-text);
    border: 3px solid var(--color-text);
    font-family: var(--font);
    transition: 1s;
    border-radius: 10px;
}

.but_pr:hover{
    cursor: pointer;
    background-color: var(--color-h);
    border: 3px solid var(--color-h);
}
#pixel{
    height: 50px;
}

.fix{
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    top: 0%;
    width: 100%;
    border-bottom: 3px solid whitesmoke;
    background-color: white;
    z-index: 2;
    opacity: 0.9;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_div{
    margin: 3px;
    margin-right: 310px
}
.nav_a{
    font-size: 17px;
    font-family: var(--font);
    text-decoration: none;
    color: grey;
    font-weight: bold;
    transition: 0.6s;
}
.nav_a:hover{
    color: var(--color-text);
}

#contact_hover{
    color: #48a3f8;
    text-decoration: none;
    transition: 0.6s;
}

#contact_hover:hover{
    color: white;
}

.img_intro{
    width: 600px;
}
.pr_inf{
    width: 500px;
}

.img_feature{
    width: 350px;
    
}

.punt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature_inf{
    display: flex;
    flex-direction: row;
}

.cart{
    display: flex;
    width: 370px;
    height: 200px;
    margin-left: 30px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.icon_anim{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.cart:hover{
    filter: grayscale(0%);
}

#adapt{
    width: 800px;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #48a3f8; 
    width: 100px;   
}

.line_grey{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver; 
    width: 210px;   
}

.friends{
    width: 940px;
}
.friend{
    width: 220px;
    padding-left: 5px;
    padding-right: 5px;
}

#box_adapt{
    display: flex;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    margin-top: 40px;
    width: 265px;
    height: 545px;
    border: 1px solid silver;
    margin: 20px;
}

.box_mar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    font-size: 18px;
}

.ic{
    width: 30px; 
    height: 30px;
    margin-right: 15px;
}

 .one-time{
    width: 900px;
    height: 350px;
}

.img_slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.slider_img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90px;
    border-radius: 50px;
}
.slider_text{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 900px;

}  

.icon_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    margin-bottom: 20px;
}

.icon_a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: var(--color-text);
    background-color: unset;
    border: 1px solid var(--color-text);
    border-radius: 40px;
    margin-left: 8px;
    margin-right: 8px;
    transition: 0.5s;
}

.icon_an{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.icon{
    width: 16px;
    z-index: 2;
    filter: brightness(1);
}

.icon_a:hover{
    color: white;
    background-color: var(--color-text);
    border: 1px solid var(--color-text);
}

.icon_an:hover{
    filter: brightness(10);
}


   .slick-dots li button:before{
    background-color:#48a3f8;
    border-radius: 40px;
    text-indent: -9999px;
  }

  .slick-dots li.slick-active button:before{
    background-color: #48a3f8;
    border-radius: 40px;
    top:0;
    content:'';
  }


@keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }











